<!-- 
index.html.erb
By: Matt Owens

-->
<!---------------------------------------------------------------------------->
<h1>DControl</h1>

<!--This is the form where you can select the info make into an AJAX request?-->
<form id='theForm' action="/d_control/bargraph" method="GET">
  <!--This needs to change the items that are being loads -->
  <label>Info:</label>
  <select id="info" name="info">
    <!--Make this be read from the DB tables rather than having to type them out.
      -->
    <option value="hosts">Hosts</option>
    <option value="vms">VMs</option>
    <option value="netflows">Netflows</option>
  </select>

  <label>View:</label>
  <select id="view" name="view">
    <option value="s">Single Time View</option>
    <option value="g">Group View</option>
    <option value="hs">Historical Single View</option>
    <option value="hg">Historical Group View</option>
  </select>

 
  <!--This needs to edit the selection of items -->
  <label>Start Date:</label>
  <%= select_datetime Time.now, :prefix => :start_date %>
 
  <!--This needs to edit the selection of items -->
  <label>End Date:</label>
  <%= select_datetime Time.now, :prefix => :end_date %>
 
 
  <label>Compare:</label>
  <select id='compare' name='compare'>
  </select>
 
  <!--Based on this chart selection the page needs to be routed differently-->
  <label>Chart:</label>
  <select id="chart" name="chart">
    <option value="/d_control/bargraph">Bar Chart</option>
    <option value="/d_control/groupbar">Group Bar Chart</option>
    <option value="/d_control/linechart">Line Chart</option>
    <option value="/d_control/flowgraph">Network Flow Graph</option>
  </select>

  <!-->
  <!--Change this format so that multiple items can be seen. 
	     Maybe check boxes?-->

  <table class="table">
    <thead>
    </thead>
    <tbody>
	
    </tbody>

  </table>
  
  <button class="btn">Submit</button>
</form>
