<!--
index.html.erb for home
By: Matt Owens

-->

<h1>Home</h1>
<p>This is the website for DControl. DControl is a web application that helps
communicate what is going on in a Datacenter Network through dynamic charts.</p>
