<!--
index.html.erb for Links
By Matt Owens
-->

<h1>Links</h1>
<ul>
  <li><a href="https://github.com/matao/DControl">GitHub</a></li>
  <li><a href="http://vhost2277.site1.compute.ihost.com:8080/agilefant/">
      Agilefant</a></li>
  
</ul>
