<!--
index.html.erb for bargraph
By Matt Owens
Modified by Kelsey Leftwich
-->

<h1>Line Chart</h1>

<!-- This gives the JavaScript a place to attach files -->
<div id="chart"></div>
<select id="Groupings">

</select>

<select id="Dates">

</select>

<%= javascript_include_tag "linechart2" %>
