<!--

index.html.erb for linechart
By Kelsey Leftwich
Based on original code by Matt Owens

-->

<h1>Line Chart</h1>


<!--This gives the JavaScript a place to attach the files-->
<div id="chart"></div>
<select id = "Groupings">
</select>

<select id="Dates">
</select>


<%= javascript_include_tag "linechart" %>
