<!--
<<<<<<< HEAD
index.html.erb for linechart
By Kelsey Leftwich
Based on original code by Matt Owens
=======
index.html.erb for bargraph
By Matt Owens
Modified by Kelsey Leftwich
>>>>>>> linechart
-->

<h1>Line Chart</h1>

<<<<<<< HEAD
<label><input type="checkbox"> Sort values</label>

<!--This gives the JavaScript a place to attach the files-->
<div id="chart"></div>
<select id = "Groupings">
</select>

<select id="Dates">
</select>

<%= javascript_include_tag "bar_to_line" %>
=======
<!-- This gives the JavaScript a place to attach files -->
<div id="chart"></div>
<select id="Groupings">

</select>

<select id="Dates">

</select>

<%= javascript_include_tag "linechart" %>
>>>>>>> linechart
