<!--
index.html.erb for bargraph
By Matt Owens
-->

<!--Need to see if I can include my JavaScript file in here some how.-->

<label><input type="checkbox"> Sort values</label>

<!--This gives the JavaScript a place to attach the files-->
<div id="chart"></div>
<select id="Groupings">

</select>

<select id="Dates">

</select>

<%= javascript_include_tag "bargraph" %>
